@charset "UTF-8";
body{
background-color: #1e2039;
}
.title{
    color: white;
    text-align: center;
    font-size: 20px;
}
a{
    color:cadetblue;
    margin-bottom: 20px;
}
.Waning{
    text-align: center;
    color: white;
}

.cont{
    justify-content: left;
    align-items: left;
    vertical-align: left;
    display: flex;
    margin-top: 20px;
}

.Text{
    margin-top: 70px;
    margin-left: 10px;
    color: white;
    display: inline-block;
}
.text{
    font-size: 30px;
    color: white;
    text-align: center;
}
#UntiyText{

    margin-top: 200px;
    color: white;
}
.Copy {
    font-size: 10px;
    color: gray;
    text-align: right;
    position: relative;
}
